<html>
<head>
    <style>
        a {
            cursor: pointer
        }
        button {
            border: none;
            background: transparent;
        }
    </style>
</head>
<body>
    <h1>Olá {{userName}} segue o link para reset de sua senha na plataforma</h1>
    <br />
    <p>O link possui expiração de 5 minutos, não o compartilhe com ninguém</p>
    <br />
    <a target="_blank" href="http://localhost:3000/resetar-senha?token={{recoveryToken}}">
        <button>
            Resetar minha senha
        </button>
    </a>
    <hr />
    <span>Atenciosamente, equipe Help a Friend</span>
</body>
</html>